html {
  font-size: 16px
}

.playerStyling {
  width: 50%;
  float: left;
  margin: 0 1em 0 0;
}

.searchStyling {
  width: 40%;
  float: right;
  margin: 0 0 1em 0;
}

.clearFix::after {
  content: "";
  display: table; 
  clear: both;
}

span {
  font-size: 1.3em;
}


.searchSpan {
  margin: 10 0;
}

/*
.searchSpan:active {
  background-color: pink
}

.searchSpan:hover {
  background-color: gray;
  
}*/