.playerStyling {
  width: 50%;
  float: left;
  margin: 0 1em 0 0;
}

.searchStyling {
  width: 40%;
  float: right;
  margin: 0 0 1em 0;
}

.clearFix::after {
  content: "";
  display: table; 
  clear: both;
}